.day__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-width: 50rem;

  @media only screen and (max-width: $bp-medium) {
    max-height: 50rem;
    min-height: 20rem;
  }
}

.weatherText {
  &__container {
    display: flex;
    flex-direction: row;
    
  }

  &__small-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
  }

}
